
body {
    min-height: 100%;
    max-height: 100%;
    font-family: 'Montserrat';
    background: url('../images/lofibg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

img {  
    width: 100%;
}

hr {
    background: #aaa;
}

#info-card {
    background: #eee;
    color: #333;
}

#hiddenWord-text {
    cursor: pointer;
}

.jumbotron {
    color: #eee;
    background: transparent;
}

.startAccent {
    color: red;
    font-weight: bold;
    margin: auto 2px;
    animation: anim 1s linear infinite;
}

/* car-info anim, triggered from game.js */
#car-info.carInfoAnim {
    animation: carInfoAnim 1s 1;
}

/* === KEYFRAMES === */
@keyframes anim {
    0% {
        color: #fff;
        margin: auto 2px;
    }
    50% {
        color: red;
        margin: auto 12px;
    }
    100% {
        color: #fff;
        margin: auto 2px;
    }
}

@keyframes carInfoAnim {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

/* === MEDIA QUERIES === */
@media (max-width: 768px){
    #hiddenWord-text {
        font-size: 3em;
    }
}

@media (max-width: 550px){
    
    #override p {
        font-size: .85em;
    }
    
    #override #title-text {
        font-size: 2em;
    }

    #hiddenWord-text {
        font-size: 2em;
    }
    .startAccent {
        animation: none;
    }
}
